body
{
	font-family: Trebuchet MS;
}



.list-body
{
	text-align: center;
}


.list-header
{
	background: -webkit-linear-gradient(#003363, #003363); 
	background: -o-linear-gradient(#7fb0f4, #003363); 
	background: -moz-linear-gradient(#7fb0f4, #003363);  
	background: linear-gradient(#006dd2, #003363); 
	padding: 10px;
}

.list-title
{
	font-size: 18px;
	color: white;
	font-family: Trebuchet MS;
}

.list-item
{
	margin: 10px;
	padding: 5px;
	width: 200px;
	border: 1px solid #cccccc;
	display: inline-block;
	text-align: left;
}

.list-item-video
{
	background-image: url(suarez.jpg);
	width: 100%;
	height: 140px;
	background-size: cover;
}

.list-item-shadow
{
	width: 200px;
	height: 100px; 
	background-color: #585858;
	position: relative;
	margin-bottom: -100px;
	opacity: 0.8;
	color: white;
	font-size: 18px;
	text-align: center;

}

.list-item:hover >.list-item-shadow
{
	width: 200px;
	height: 100px; 
	background-color: #cccccc;
	position: relative;
	margin-bottom: -100px;
	opacity: 1;
	font-size: 18px;
}

.list-item-shadow-title
{
	position: relative;
	top: 40px;
}



.list-item-title
{
	color: #0028f0;
	font-size: 18px;
	font-weight: bold;
	
}

.list-item-date
{
	color: #3e3e3e;
	font-size: 13px;
}

.load-button
{
	display: none;
}

.paging
{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}


.button
{
	background-color: #81aad0;
	color: white;
	display: inline-block;
	padding: 10px;
	width: 100px;
	margin-left: 20px;
	margin-right: 20px;
}

.button:hover
{
	background-color: blue;
	cursor: pointer;
}

.paging-previous
{
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.paging-next
{
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.paging-pagenum
{
	display: inline-block;
	background-color: #a8bdd0;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

.paging-pagenum:hover
{
	background-color: blue;
	cursor:pointer;
}


.paging-selected
{
	background-color: blue;
}



